.App {
  text-align: center;
}
body {
  background-color: rgb(59, 47, 49);
  color: antiquewhite;
}
button {
  background-color: antiquewhite;
  border-top: 2px solid rgb(245, 221, 189);
  border-left: 2px solid rgb(245, 221, 189);
  border-bottom: 2px solid rgb(199, 170, 132);
  border-right: 2px solid rgb(199, 170, 132);
  border-radius: 2px;
}
input {
  margin: 5px;
}
.sm-font {
  font-size: small;
}
.input-fields {
  margin: auto;
  width: 320px;
  text-align: right;
}
.header-height {
  line-height: 100px;
  margin: auto;
}
.album {
  display: flex;
  background-color: grey;
  border: 2px solid darkgray;
  flex-basis: calc(100%-14);
  padding: 5px;
  margin: 5px;
}
.cover {
  height: 150px;
  width: 150px;
}
.info {
  margin: 10px;
}
.cover-title {
  color: white;
  background-color: dimgray;
  border: 2px solid darkgray;
  font-weight: bold;
  font-size: 12px;
  display: flex;

  flex-direction: column;
  margin: auto;
  width: 150px;
}
.album-info {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
}
.App-logo {
  height: 100px;
  pointer-events: none;
  margin: 5px;
}
.header-space {
  width: 100px;
}
.error {
  color: crimson;
}
.flex-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.form-hint {
  color: white;
  font-size: 10px;
  font-weight: bold;
}
.form-error {
  color: crimson;
  font-size: 10px;
  font-weight: bold;
}
.link {
  flex-basis: calc(100% / 5 - 10px);
  background-color: grey;
  text-decoration: none;
  padding: 5px;
  flex-grow: 1;
  color: white;
}
.active {
  background-color: darkgrey;
}
.active:hover,
.link:hover {
  background-color: darkgrey;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
